html, body {
	margin: 0;
	padding: 0;
}
.header {
	background-color: #005892;
	color: white;
	padding-top: 40px;
	padding-bottom: 40px;
	font-size: 24px;
	text-align: left;
	margin-bottom: 40px;
}
.header .container {
	width: 1000px;
	margin: auto;
}
.header h1 {
	font-size: 60px;
	line-height: 1;
	margin-top: 0;
}
.header p {
	margin-bottom: 0;
	font-weight: 300;
	line-height: 1.4;
	color: #87B8D8;
}
th.rotate {
  height: 160px;
  padding: 50px;
  white-space: nowrap;
}

th.rotate > div {
  transform: 
    translate(25px, 0px)
    rotate(315deg);
  width: 30px;
}
th.rotate > div > span {
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
}
.configurations-table {
	width: 100%;
}
.container canvas {
	margin: auto;
}